<!DOCTYPE html>
<html>
  <head>
    <title>Melodify</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <script src="https://widget.cloudinary.com/global/all.js" charset="utf-8"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script>

    <script type="text/javascript">
      window.cloudinaryOptions = {
        cloud_name: 'flikr',
        upload_preset: 'ozmwc4ev',
        theme: "minimal",
        sources: ['local'],
        multiple: false
      }
    </script>

    <script type="text/javascript">
      <% if logged_in? %>
          window.currentUser = <%= render("api/sessions/user.json.jbuilder",
          user: current_user).html_safe %>
      <% end %>
    </script>

    <%= javascript_include_tag 'application' =%>
    <%= stylesheet_link_tag 'application', media: 'all' =%>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
       FB.init({
         appId      : '1808896742710177',
         xfbml      : true,
         version    : 'v2.8'
       });
       FB.AppEvents.logPageView();
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= yield %>
  </body>
</html>
